html {
    height: 100%;
    background-image: radial-gradient(ellipse farthest-corner at center top, hsla(200, 100%, 15%, 1) 0%, hsla(220, 90%, 1%, 1) 100%);
    cursor: move;
  }

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48
}
  
  body {
    width: 100%;
    height: 100%;
    margin: 0;
    overflow: hidden;
    /* display: flex;
    justify-content: center; */
  }
  #container{
    /* border: 1px solid rgb(4, 162, 247); */
    /* display: grid; */
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    
  }
  #container>div{
    /* border: 1px solid green; */
    height: 400px;
    width: 50%;
  }

  body>div{
    /* border: 1px solid white; */
    width: 50%;
    height: 400px;
  }

  #star-wars{
    height: 37%;
  }



  input{
    background-color: white;
    width: 50%;
    height: 30px;
  }

  #search-logo{
    position: relative;
    left: 10px;
    bottom: 6px;
    font-size: 30px;
    height: 10%;
    color: white;
    display: inline-block;
    position: relative;
top: 4%;
  }
  #search{
    /* border: 1px solid red; */
    height: 50%;
    /* display: flex; */
    align-items: center;
    grid-template-columns: auto auto;
    justify-content: center;
  }
  #canv{
    z-index: -10;
  }

  #dropList{
/* border: 1px solid white; */
margin: 0px 27% 0px 23%;
height: 300px;
  }

  li{
    color: yellow;
    border: 1px solid yellow;
    margin-right: 50px;
    height: 25%;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 2%;
    cursor: pointer;
  }
  ul{
    overflow-y: scroll;

  }