@import url('https://fonts.googleapis.com/css2?family=Paytone+One&display=swap');

*{
    padding: 0;
    margin: 0;

}
body{
    background-color: #464668;;
    font-family: 'Paytone One', sans-serif;

}
a{
    text-decoration: none;
}
img{
    width: 100%;
    display: block;
}
.wrapper{
    min-height: 100vh;
}
.wrapper .container{
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 1rem;
}
.search-container{
    height: 180px;

    display: flex;

            align-items: center;

            justify-content: center;
}
.logo{
    padding: 1rem 0;
}
.logo p{
    font-size: 2rem;
    color: #fff;
    font-weight: bold;
}

.search-element{
    display: flex;
            align-items: stretch;
            justify-content: center;

            flex-direction: column;
    position: relative;
}
.search-element h3{
        align-self: center;
    margin-right: 1rem;
    font-size: 2rem;
    color: #fff;
    font-weight: 500;
    margin-bottom: 1.5rem;
}
.search-element .form-control{
    padding: 1rem 2rem;
    font-size: 1.4rem;
    border: none;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    outline: none;
    width: 350px;
}
.searchList{
    background-color: black;
    position: absolute;
    right: 0;
    top: 100%;
    max-height: 500px;
    overflow-y: scroll;
}
.searchList .search-list-item{
    padding: 0.5rem;
    border-bottom: 1px solid wheat;
    width: calc(350px - 8px);
    color: #fff;
    cursor: pointer;
    padding: 3px 0px 3px 0px;

}
.searchList .search-list-item:Hover{
    background-color: #1f1f1f;
}
.search-list-item{

    display: flex;

            align-items: center;
}
.search-item-thumbnail img{
    width: 40px;
    margin-right: 1rem;
}
.search-item-info h3{
    font-weight: 600;
    font-size: 1rem;
}
.search-item-info p{
    font-size: 0.8rem;
    margin-top: 0.5rem;
    font-weight: 600;
    opacity: 0.6;
}


.searchList{
    border-radius: 10px;
}

/* js related class */
.hide-search-list{
    display: none;
}

/* movie result */
.result-container{
    padding: 3rem 0;
}
.movie-poster img{
    max-width: 300px;
    margin: 0 auto;
    border: 4px solid #fff;
}
.movie-info{
    text-align: center;
    color: #fff;
    padding-top: 3rem;
}

/* movie info stylings */
.movie-title{
    font-size: 2rem;

}
.movie-misc-info{
    list-style-type: none;

    display: flex;
            align-items: center;
            justify-content: center;
    padding: 1rem;
}
.movie-info .year{
    font-weight: 500;
}
.movie-info .rated{

    padding: 0.4rem;
    margin: 0 0.4rem;
    border-radius: 3px;
    font-weight: 600;
}
.movie-info .released{
    font-size: 0.9rem;

}
.movie-info .writer{
    padding: 0.5rem;
    margin: 1rem 0;
}
.movie-info .genre{
    display: inline-block;
    padding: 0.5rem;
    border-radius: 3px;
}
.movie-info .plot{
    max-width: 400px;
    margin: 1rem auto;
}
.movie-info .awards i{

    margin: 1rem 0.7rem 0 0;
}
.movie-info .awards{
    font-weight: 300;
    font-size: 0.9rem;
}
.movie-info .language{
    font-style: italic;
}

